.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: cornflowerblue;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin-top: 100px;
    input {
      height: 30px;
      width: 100%;
      max-width: none;
      font-size: 16px;
      border: none;
      padding-left: 15px;
    }

    .bntSubmitWrapper {
    display: flex;
    justify-content: center;
  }
  }
.bntExampleWrapper {
  button {
    margin-top: 10px;
  }
}
  .btn {
    background: #5D5FEF;
    padding: 10px;
    color: #fff;
    border-radius: 10px;

    &:hover {
      background: #3b3ec9;
      transition: all .3s;
    }
  }
}
.error {
  color: red;
  font-size: 12px;
}